body {
    background-image: linear-gradient(to bottom right, rgb(83, 123, 255), rgb(21, 72, 184));
    min-height: 110vh;
    padding: 0 ;
    margin: 0 ;
}

h3 {
    color: white;
    font-size: 2rem;
}

p {
    color: white;
}

h6 {
    color: white;
    font-size: 1.2rem;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.arrivaltime {
    font-size: 4rem;
    font-weight: 700;
    margin: auto;
}

.dimmed h6,
.dimmed p {
    color: rgba(255, 255, 255, 0.72);
}

.animatePulse {
    -webkit-animation: pulseSmall 1s infinite;
    animation: pulseSmall 1s infinite;
}

.arrivaltimetext {
    font-size: 1.5rem;
}

.borderbox {
    z-index: -1;
    display: flex;
    margin: auto;
    height: 300px;
    width: 300px;
    position: relative;
}

.borderbox::before {
    z-index: 1000;
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200%;
    height: 300px;
    width: 300px;

    /*borders must be set in advance for Safari*/

    border-left: 2px solid rgba(255, 255, 255, 0);
    border-top: 2px solid rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255);
    border-right: 2px solid rgba(255, 255, 255, 0);
    -webkit-animation: spinnCircleWeb 1.4s infinite ease-in-out;
    animation: spinnCircle 1.4s infinite ease-in-out;
}

.nextArrivaltime {
    font-size: 1.6rem;
}

.realtime {
    font-size: 0.75rem;
}
.dropdown {
}
.dropdown-item {
    font-size: 1.15rem;
    padding-top: 15px;
    padding-bottom:15px;
}
.btn-warning {
    font-size: 1.15rem;
}
.dropdown-item:hover {
    background-image: linear-gradient(to bottom right, rgb(83, 123, 255), rgb(21, 72, 184));
    color: white;
}
.kapea {
    width: 40%;
    margin: auto;
}

.henkulle {
    color: rgb(160, 160, 160);
    font-size: 0.65rem;
}

.busnumber1 {
    font-size: 1.8rem;
}

.busnumber2 {
    font-size: 1.2rem;
}

.textRed {
    color: rgb(255, 0, 149);
    font-weight: 700;
    font-size: 0.8rem;
}
.liveSuccess {
    background-image: linear-gradient(to bottom right, rgb(59, 230, 87), rgb(18, 155, 41)) !important;
}

.alert {
    background-image: linear-gradient(to bottom right, rgb(250, 93, 65), rgb(184, 23, 31)) !important;
}

.container {
    overflow: hidden;
}

.hide {
    display: none;
}

/* START OF @tobiasahlin at http://tobiasahlin.com/spinkit/ CODE */

.spinner {
    margin: 100px auto 0;
    width: 70px;
    text-align: center;
}

.spinner>div {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 255, 255);
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0)
    }

    40% {
        -webkit-transform: scale(1.0)
    }
}

@keyframes sk-bouncedelay {

    0%,
    80%,
    100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes pulseSmall {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@-webkit-keyframes pulseSmall {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* END OF @tobiasahlin CODE  */

@-webkit-keyframes spinnCircle {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        border-left: 2px solid rgba(255, 255, 255, 0);
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgba(255, 255, 255, 0);
    }

    50% {
        border-left: 1px solid rgba(255, 255, 255, 0);
        border-top: 7px solid rgb(255, 255, 255);
        border-bottom: 7px solid rgb(255, 255, 255);
        border-right: 7px solid rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
        border-left: 2px solid rgba(255, 255, 255, 0);
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgba(255, 255, 255, 0);
    }
}

@keyframes spinnCircle {
    0% {
        -webkit-transform: rotate(-30deg);
        transform: rotate(-30deg);
        border-left: 2px solid rgba(255, 255, 255, 0);
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgba(255, 255, 255, 0);
    }

    50% {
        border-left: 1px solid rgba(255, 255, 255, 0);
        border-top: 7px solid rgb(255, 255, 255);
        border-bottom: 7px solid rgb(255, 255, 255);
        border-right: 7px solid rgba(255, 255, 255, 0);
    }

    100% {
        -webkit-transform: rotate(330deg);
        transform: rotate(330deg);
        border-left: 2px solid rgba(255, 255, 255, 0);
        border-top: 2px solid rgb(255, 255, 255);
        border-bottom: 2px solid rgb(255, 255, 255);
        border-right: 2px solid rgba(255, 255, 255, 0);
    }
}